.photo-player-content {
    width: 60%;
}

.player-photo-section {
    display: flex;
    justify-content: space-between;
}

.player-photo {
    max-height: 75vh;
    max-width: 50vw;
}

.arrow-icon {
    width: 38px;
    cursor: pointer;
}

.arrow-icon path {
    transition: fill .4s ease;
}

.arrow-icon:hover path {
    fill: #fff;
}

.player-photo-number {
    font-size: var(--sm-size);
    font-weight: var(--bold-weight);
    text-align: center;
}

@media only screen and (min-device-width : 0px) and (max-width: 1200px) {
    .photo-player-content {
        width: 100%;
        padding: 0 25px;
    }

    .player-photo {
        max-height: 80vh;
        max-width: 80vw;
    }
}

@media only screen and (min-device-width : 0px) and (max-width: 750px) {
    .arrow-icon {
        width: 15px;
    }
}

@media only screen and (min-device-width : 0px) and (max-width: 450px) {
    .arrow-icon {
        display: none;
    }

    .player-photo-section {
        justify-content: center !important;
    }
}

@media only screen and (min-device-height : 0px) and (max-height: 850px) {
    .player-photo {
        max-height: 70vh;
    }
}

@media only screen and (min-device-height : 0px) and (max-height: 750px) {
    .player-photo {
        max-height: 60vh;
    }
}
