*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav-title-email {
    font-size: var(--md-size);
    font-weight: var(--body-weight);
    color: var(--dark-1);
    text-decoration: none;
}

.nav-title {
    font-size: var(--lg-size);
    font-weight: var(--bold-weight);
}

.nav-title-link {
    color: var(--dark-1);
    text-decoration: none;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: var(--dark-1);
    font-size: var(--md-size);
    font-weight: var(--bold-weight);
    text-decoration: none;
    margin-right: 25px;
    position: relative;
    display: inline-block;
}

.nav-link:last-of-type {
    margin-right: 0;
}

/* Hover animation */
.nav-link::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--light-1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.nav-link-active::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--light-1);
    content: '';
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 400px) {
    #Nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 1rem;
    }
}
